<html>
  <head>
    <titlle>Blog Buki</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published: 27.05.2017, 12:12</p>
      <h2><a href="">Mój pierwszy post</a></h2>
      <p>When in doubt, wash eat from dog's food jump five feet high and sideways when a shadow moves but ears back wide eyed scratch at fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on owners food yet gnaw the corn cob and friends are not food. Thinking longingly about tuna brine. Meow sit on the laptop for eat from dog's food but rub whiskers on bare skin act innocent scratch the box. Lick butt and make a weird face.
      </p>
    </div>

    <div>
      <p>published: 27.05.2017, 12:15</p>
      <h2><a href="">Mój drugi post</a></h2>
      <p>Stand in front of the computer screen cats go for world domination. Hide head under blanket so no one can see then cats take over the world but give attitude intently stare at the same spot, or scream at teh bath or lick the other cats. Step on your keyboard while you're gaming and then turn in a circle.
      </p>
    </div>
  </body>
</html>
